.collapse-header {
    background-color: #FF6060;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
}

.collapse-title {
    color: white;
    margin: 0;
}

.collapse-button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.arrow {
    transition: all 1s ease-in-out;
}

.collapse-content {
    margin: 0;
    background-color: rgba(246, 246, 246, 0.45);
    border-radius: 5px;
}