.collapses-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 108.5px;
}

.collapses-section .collapse-header {
    padding: 10px 15px;
}

.collapses-section .collapse-title {
    font-size: 24px;
}

.collapses-section .collapse-button {
    height: 34px;
}